= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %p
      These settings will only take effect if Geo is enabled and require a restart to take effect.
    .form-group
      = f.label :geo_status_timeout, 'Connection timeout', class: 'label-light'
      = f.number_field :geo_status_timeout, class: 'form-control'
      .form-text.text-muted
        The amount of seconds after which a request to get a secondary node
        status will time out.

  = f.submit 'Save changes', class: "btn btn-success"
